<mat-toolbar class="primary">
  <div>Shopping Mart</div>
  <div>
    <input class="input" placeholder="search here" />
  </div>
  <button mat-icon-button routerLink="home">
    <mat-icon class="example-icon">home</mat-icon> Home
  </button>

  <button mat-icon-button routerLink="products">
    <mat-icon class="example-icon">store</mat-icon> Products
  </button>

  <button mat-icon-button routerLink="cart">
    <mat-icon class="example-icon">shopping_cart</mat-icon> Cart
  </button>
</mat-toolbar>
